# Creating database

In [1]:
import psycopg2
import pandas as pd

In [32]:
def create_database():
    
    # Creating connection to the default database
    try:
        conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=<newpassword>")
    except psycopg2.Error as error:
        print('Unable to connect to the default database')
        print(error)

    # Opening a cursor to perform database operations
    try:
        cur = conn.cursor()
    except psycopg2.Error as erro:
        print('Could not get a cursor to the default database') 
        print(error)

    # Setting automatic commit
    conn.set_session(autocommit=True)

    #Creating new database
    try:
        cur.execute("DROP DATABASE booksdb")
    except psycopg2.Error as error:
        print('Unable to drop database')
        print(error)

    try:
        cur.execute("CREATE DATABASE booksdb")
    except psycopg2 as error:
        print('Unable to create a Database')
        print(error)

    #Closing connection to default database
    conn.close()

    #Connecting to the new database
    try:
        conn = psycopg2.connect("host=localhost dbname=booksdb user=postgres password=<newpassword>")
    except psycopg2.Error as error:
        print('Unable to connect to the booksdb database')
        print(error)

    try:
        cur = conn.cursor()
    except psycopg2.Error as erro:
        print('Could not get a cursor to the default database') 
        print(error)

    conn.set_session(autocommit=True)
    
    return cur, conn

# Reading and transforming files

# Books.csv

In [5]:
books_info = pd.read_csv("../archives/Books.csv", index_col=False)

C:\Users\Amanda Sobrado\AppData\Local\Temp\ipykernel_58256\3738014251.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_info = pd.read_csv("../archives/Books.csv", index_col=False)

In [6]:
books_info.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [7]:
# Selecting necessary columns

books_info = pd.read_csv("../archives/Books.csv", index_col=False, usecols=["ISBN", "Book-Title", "Book-Author", "Year-Of-Publication", "Publisher" ])

C:\Users\Amanda Sobrado\AppData\Local\Temp\ipykernel_58256\2261729280.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_info = pd.read_csv("../archives/Books.csv", index_col=False, usecols=["ISBN", "Book-Title", "Book-Author", "Year-Of-Publication", "Publisher" ])

In [8]:
print(books_info.dtypes)

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
dtype: object

In [9]:
books_info["Year-Of-Publication"] = books_info["Year-Of-Publication"].astype(str)

books_info.rename(columns={"Book-Author": "book_author"}, inplace=True)
books_info.rename(columns={"Book-Title": "book_title"}, inplace=True)
books_info.rename(columns={"Year-Of-Publication": "year_publication"}, inplace=True)

books_info.columns = books_info.columns.str.lower()

In [13]:
books_info.columns

Index(['isbn', 'book_title', 'book_author', 'year_publication', 'publisher'], dtype='object')

# Ratings.csv

In [10]:
ratings_info = pd.read_csv("../archives/Ratings.csv", index_col=False)

In [11]:
ratings_info.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [12]:
print(ratings_info.dtypes)

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [14]:
#Changing user_id type 

ratings_info["User-ID"] = ratings_info["User-ID"].astype(str)

In [15]:
# Renaming columns
ratings_info.rename(columns={"User-ID": "user_id"}, inplace=True)
ratings_info.rename(columns={"Book-Rating": "book_rating"}, inplace=True)
ratings_info.columns = ratings_info.columns.str.lower()

In [16]:
ratings_info.columns

Index(['user_id', 'isbn', 'book_rating'], dtype='object')

# Users.csv

In [17]:
users_info = pd.read_csv("../archives/Users.csv", index_col=False)

In [18]:
users_info.tail()

        User-ID                            Location   Age
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

In [19]:
print(users_info.dtypes)

User-ID       int64
Location     object
Age         float64
dtype: object

In [25]:
# Changing user_id and age type
users_info["User-ID"] = users_info["User-ID"].astype(str)

In [26]:
users_info["Age"] = users_info["Age"].fillna(0)

users_info['Age'] = users_info['Age'].astype(int)

In [27]:
print(users_info.dtypes)

User-ID     object
Location    object
Age          int32
dtype: object

In [29]:
#Renaming columns
users_info.rename(columns={"User-ID": "user_id"}, inplace=True)
users_info.columns = users_info.columns.str.lower()

In [30]:
users_info.columns

Index(['user_id', 'location', 'age'], dtype='object')

# Creating tables in the database

In [33]:
cur, conn = create_database()

Unable to drop database
ERRO:  banco de dados "booksdb" n√£o existe

In [34]:
#Creating tables in the database

books_info_table_create = ("""CREATE TABLE IF NOT EXISTS books_info(
                           isbn VARCHAR,
                           book_title VARCHAR,
                           book_author VARCHAR,
                           year_publication VARCHAR,
                           publisher VARCHAR)""")

cur.execute(books_info_table_create)
conn.commit()

In [35]:
ratings_info_table_create = ("""CREATE TABLE IF NOT EXISTS ratings_info(
                             user_id VARCHAR, 
                             isbn VARCHAR,
                             book_rating NUMERIC)""")

cur.execute(ratings_info_table_create)
conn.commit()

In [36]:
users_info_table_create = ("""CREATE TABLE IF NOT EXISTS users_info(
                           user_id VARCHAR,
                           location VARCHAR,
                           age INTEGER)""")

cur.execute(users_info_table_create)
conn.commit()

# Inserting data into the tables

In [37]:

books_info_table_insert = ("""INSERT INTO books_info(
                           isbn,
                           book_title,
                           book_author,
                           year_publication,
                           publisher)
                           VALUES (%s, %s, %s, %s, %s)""")

In [38]:
for i, row in books_info.iterrows():
    cur.execute(books_info_table_insert, list(row))

conn.commit()

In [39]:
ratings_info_table_insert = ("""INSERT INTO ratings_info(
                            user_id, 
                            isbn,
                            book_rating)
                            VALUES (%s, %s, %s)""")

In [40]:
for i, row in ratings_info.iterrows():
    cur.execute(ratings_info_table_insert, list(row))

conn.commit()

In [41]:
users_info_table_insert = ("""INSERT INTO users_info(
                           user_id,
                           location,
                           age)
                           VALUES (%s, %s, %s)""")

In [42]:
for i, row in users_info.iterrows():
    cur.execute(users_info_table_insert, list(row))

conn.commit()

In [43]:
conn.close()